.content {
  display: flex;
  gap: var(--m);
  height: auto;
  min-height: 200px;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  & > * {
    &:first-child {
      flex: 1 1 500px;
      overflow: hidden;
    }
    &:last-child {
      flex-basis: 38%;

      @media (max-width: 480px) {
        display: none; /* Hide the required columns table on mobile */
      }
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: var(--m-s);
  max-height: 200px;
}

.tableContainer {
  overflow: hidden;
  overflow-y: auto;
  max-height: 150px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-2);
  > div {
    outline: none;
  }
  .tbody {
    overflow: auto;
  }
}
